@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}


.main input {
  font-size: 16px;
  margin-top: 2rem;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.if{
  
}

.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}



.main .result {

 margin-top: 5px;
  color: white;
  font-size: 20px;
 text-align: center;
 padding-bottom: 30%;

 
}
.main .but{
}
.center{
  padding-right: 5%;
  margin: 0 auto;
  padding-bottom: 30%;


}

.title{
  color: white;
  float:left;
  font-size: 2.5rem;
  padding-top: 4.4em;
  padding-right: 10%;
  padding-left: 20%;
  color: white;
}

.but{
  padding: 12px 0;
  color: #fff;
  padding-right: 1rem;
  padding-right: 20%;
  background-color: black;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;


}

.main top{
  width: 6px;
  height: 6px;
  border-radius: 5%;
  overflow: hidden;

}
.logo{
  margin-top: -20px;
}


  .main{
    background-color: black;
  
  }
  .a{
    color: white;
    font-size: 32px;
    font-family: "Merriweather Sans", sans-serif;
  }
  
 
  .bigHeading{
  
    color: white;


    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15%;
    margin-top: 16%;
    padding-right: 40%;
    padding-left: 20%;
  }
  
  
  .main input {
    font-size: 16px;
    margin-top: 2rem;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  
  
  .main .icon {
    width: 34px;
  }
  .main h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
  }
  .main form {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  
  
  .main input[type="text"] {
    padding: 12px 20px;
    
    border:none;
    
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    background-color: black;
    color:white;
    margin-top: 52.5%;
    text-align: center;
  }
  .main ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  .main input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2%;
  }
  
  .main nav{
padding-left: 3%;

  }
  .main input[type="submit"]:hover {
    padding: 12px 0;
    color: black;
    background-color:white;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2%;
  }

  
  .center{
    padding-right: 5%;
    padding-top: 70px;
  
    margin: 0 auto;
    

  
  }
  .main form{
    margin-right: 100%;
    
  }
  
  
  .but{
    padding: 12px 0;

    margin-left: 3%;
    margin-right: 3%;
  
    background-color: black;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
  
  
  }
  
  .main top{
    width: 6px;
    height: 6px;
    border-radius: 5%;
    overflow: hidden;
  
  }
  .logo{
    margin-top: -20px;
  }


